In [1]:
import pandas as pd
import sqlite3

# Connect to SQLite database
conn1 = sqlite3.connect('../data/asia_covid.sqlite')
conn2 = conn2 = sqlite3.connect('../data/europe_covid.sqlite')

In [2]:
# Query data from SQLite table and fetch into a DataFrame
query1 = "SELECT * FROM asia"
query2 = "SELECT *FROM europe"
df_asia = pd.read_sql_query(query1, conn1)
df_europe = pd.read_sql_query(query2,conn2)

In [3]:
# Close the database connection
conn1.close()
conn2.close()

In [4]:
# Explore and manipulate the DataFrame
print(df_asia.head())

      Country  TotalCases  TotalDeaths  TotalRecovered  ActiveCases  \
0       Yemen        9369       1778.0            5921         1670
1     Vietnam      839662      20555.0          782199        36908
2  Uzbekistan      178637       1271.0          174213         3153
3         UAE      737890       2114.0          731295         4481
4      Turkey     7444552      66180.0         6893476       484896

   TotalTests
0    265253.0
1  42517091.0
2   1377915.0
3  87246490.0
4  89847975.0

In [5]:
print(df_europe.head())

  Country/Other  Total Cases  Total Deaths  Total Recovered  Active Cases  \
0       Albania       334084          3595         328802.0        1687.0
1       Andorra        47781           165          47563.0          53.0
2       Austria      5747540         21589        5702341.0       23610.0
3       Belarus       994037          7118         985592.0        1327.0
4       Belgium      4686147         33478        4631003.0       21666.0

   Total Tests
0      1941032
1       249838
2    205247898
3     13646641
4     36481740